<!DOCTYPE html>

<p style="color: rgb(22, 113, 216); text-align: center;">The website is an archive contains the history details of the Northern Chinese minorities, specifically designed for helping scholars and students to conduct research in history, politics, anthropology, etc.. </p>


<p style="color: rgb(22, 113, 216); text-align: center;"> information in this website are based on translations from articles written by An Senyao on the ZhiHu forum. </p>


<p style="color: rgb(22, 113, 216); text-align: center;">You may find information in [ZhiHu.Northern Chinese Minorities](https://www.zhihu.com/question/34856776/answer/1048893096?utm_source=wechat_session&utm_medium=social&utm_oi=919690315185655808&utm_content=group3_Answer&utm_campaign=shareopn) </p>
